{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="max-width:450px;">
  <h3 class="text-center mb-4">Registrar Usuario</h3>
  <form method="POST" action="{{ url_for('auth_controller.register') }}">
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" name="nombre" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Correo</label>
      <input type="email" class="form-control" name="email" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Contraseña</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Confirmar Contraseña</label>
      <input type="password" class="form-control" name="confirmar" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Rol</label>
      <select name="rol" class="form-select">
        <option value="usuario" selected>Usuario</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success w-100">Registrar</button>
  </form>

  <div class="text-center mt-3">
    <a href="{{ url_for('auth_controller.login') }}" class="btn btn-secondary btn-sm">Volver al login</a>
  </div>
</div>
{% endblock %}
