{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="max-width:450px;">
  <h3 class="text-center mb-4">Registrar Estudiante</h3>
  <form method="POST" action="{{ url_for('estudiantes_controller.nuevo') }}">
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" name="nombre" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Apellidos</label>
      <input type="text" class="form-control" name="apellidos" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Correo</label>
      <input type="email" class="form-control" name="correo" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Celular</label>
      <input type="text" class="form-control" name="celular">
    </div>
    <button type="submit" class="btn btn-success w-100">Guardar</button>
  </form>

  <div class="text-center mt-3">
    <a href="{{ url_for('estudiantes_controller.index') }}" class="btn btn-secondary btn-sm">Volver</a>
  </div>
</div>
{% endblock %}
