{% extends 'base.html' %}

{% block content %}
<div class="container mt-5" style="max-width:400px;">
  <h3 class="text-center mb-4">Iniciar Sesión</h3>
  <form method="POST" action="{{ url_for('auth_controller.login') }}">
    <div class="mb-3">
      <label for="usuario" class="form-label">Usuario</label>
      <input type="text" class="form-control" name="usuario" required>
    </div>
    <div class="mb-3">
      <label for="contraseña" class="form-label">Contraseña</label>
      <input type="password" class="form-control" name="contraseña" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Ingresar</button>
  </form>

  <div class="text-center mt-3">
    <small>¿No tienes cuenta? <a href="{{ url_for('auth_controller.register') }}">Regístrate aquí</a></small>
  </div>
</div>
{% endblock %}
